{% macro format_header(obj) -%}
  
<div class="" >
  <div class="jumbotron">
    <div class="media">
      <div class="media-body">

<h4 class="logo"><samp style="white-space: pre;">
__________                     ___              __
\______   \_____    ____    __| _/____   _____ |__| ____
 |     ___/\__  \  /    \  / __ |/ __ \ /     \|  |/ ___\
 |    |     / __ \|   |  \/ /_/ \  ___/|  Y Y  \  \  \___
 |____|    (____  /___|  /\____ |\___  >__|_|  /__|\___  > .adp
                \/     \/      \/    \/      \/        \/
</samp></h4>
        <h2>{{ obj.title }}</h2>
        <h3>{{ obj.sub_title }}</h3>
        <p>{{ obj.description }}</p>
      </div>
      <div class="media-right media-middle">
        <img class="media-object img-circle" src="{{ obj.image }}" alt="" style="height: 15em;">
      </div>
    </div>
  </div>
</div>
  
{%- endmacro %}
