{% macro format_standard(obj, div_namer=None) -%}
  {% if obj.type == 'panel' %}
    {{ format_panel(obj, div_namer=div_namer) }}
  {% elif obj.type == 'tabs' %}
    {{ format_tabs(obj, div_namer=div_namer) }}
  {% elif obj.type == 'scroll' %}
    {{ format_block(obj) }}
    {{ format_contents_scroll(obj, div_namer=div_namer) }}
  {% else %}
    <div {% if obj.id %}id="{{ obj.id }}" {% endif %}{% if (obj.type or obj.classes) %}class="{{format_classes(obj)}} {% if obj.type %}{{obj.type}} {{obj.type}}-{{obj.colour | default('primary')}}{% endif %}"{% endif %}>
    {{ format_block(obj) }}
    {{ format_contents(obj, div_namer=div_namer) }}
    </div>
  {% endif %}
{%- endmacro %}

{% macro format_classes(obj, defn=True) -%}
  {% if obj.classes %}{% for c in obj.classes %}{{c}} {% endfor %}{% endif %}
{%- endmacro %}

{% macro format_list(item_list, defn=True) -%}
  {% for c in item_list %}{{c}} {% endfor %}
{%- endmacro %}

{% macro format_block(obj) -%}
  {% if obj.title is defined %}
    <h4>{{ obj.title }}</h4>
  {% endif %}
  {% if obj.text is defined %}
    <p>{{ obj.text }}</p>
  {% endif %}
  {% if obj.image is defined %}
    <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
      <img class="img-responsive" src="{{ obj.image }}" alt="No Image">
    </a>
  {% endif %}
  {% if obj.table is defined %}
    <div class="table-responsive">
      {{ obj.table }}
    </div>
  {% endif %}
  {% if obj.footnote is defined %}
    <p>{{ obj.footnote }}</p>
  {% endif %}
{%- endmacro %}

{% macro format_contents(obj, div_namer=None) -%}
{% if obj.contents %}
<div class="row row-centered">
  {% for o in obj.contents -%}
    <div class="col-centered col-xs-12 col-md-{{ o.width | default(12) }}">
    {{ format_standard(o, div_namer=div_namer) }}
    </div>
  {% endfor -%} 
</div>
{% endif %}
{%- endmacro %}

{% macro format_contents_scroll(obj, div_namer=None) -%}
<div class="row" style="white-space: nowrap; overflow-x: scroll;">
  {% for o in obj.contents -%}
    <div class="col-centered col-xs-12 col-md-{{ o.width | default(12) }}" style="display: inline-block; float: none; white-space: normal;">
      {{ format_standard(o, div_namer=div_namer) }}
    </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro format_panel(panel, div_namer=None) -%}
{% if panel.id is defined %}
  {% set panel_id = panel.id %}
{% elif div_namer %}
  {% set panel_id = div_namer.next() %}
{% endif %}
<div class="panel panel-{{ panel.colour | default('primary') }}">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if panel_id is defined -%}
        <a data-toggle="collapse" href="#{{ panel_id }}">{{ panel.title }}</a>
      {% else -%}
        {{ panel.title }}
      {% endif -%}
    </h3>
  </div>
  <div {% if panel_id is defined %}id="{{ panel_id }}" class="panel-collapse collapse {% if panel.show|default(true) %}in{% endif %}"{% endif %}>
    <div class="panel-body">
      {{ format_contents(panel, div_namer=div_namer) }}
    </div>
  </div>
</div>
{%- endmacro %}

{% macro format_tabs(tabs, div_namer=None) -%}
{% if tabs.title is defined %}<h4>{{ tabs.title }}</h4>{% endif %}
<div role="navigation">
  <ul class="nav nav-tabs {{format_classes(tabs)}}">
    {% for t in tabs.contents %}
    {% if t.id is not defined %}
      {% do t.update({'id':div_namer.next()}) %}
    {% endif %}
    <li {% if t.active -%}class="active"{% endif -%} role="presentation"><a data-toggle="tab" href="#{{ t.id }}">{{ t.alt_title }}</a></li>
    {%- endfor %}
  </ul>
  <div class="tab-content">
    {% for t in tabs.contents %}
    <div id="{{ t.id }}" class="tab-pane tab-borders-close fade {% if t.active -%}in active{% endif -%} {{format_classes(t)}}">
      {{ format_block(t) }}
      {{ format_contents(t, div_namer=div_namer) }}
    </div>
    {% endfor %}
  </div>
</div>
{%- endmacro %}

{% macro lightbox_setup(id='lightbox') %}
    <style>
      #{{ id }} .modal-content {
          display: inline-block;
          text-align: center;
      }

      #{{ id }} .close {
          opacity: 1;
          color: rgb(255, 255, 255);
          background-color: rgb(25, 25, 25);
          padding: 5px 8px;
          border-radius: 30px;
          border: 2px solid rgb(255, 255, 255);
          position: absolute;
          top: -15px;
          right: -55px;

          z-index:1032;
      }
    </style>

    <script type="text/javascript" class="init">
      $(document).ready(function() {
        var $lightbox = $('#{{ id }}');
        $('[data-target="#{{ id }}"]').on('click', function(event) {
          var $img = $(this).find('img'),
          src = $img.attr('src'),
          alt = $img.attr('alt'),
          css = {
            'maxWidth': $(window).width() - 100,
            'maxHeight': $(window).height() - 100
          };
          $lightbox.find('.close').addClass('hidden');
          $lightbox.find('img').attr('src', src);
          $lightbox.find('img').attr('alt', alt);
          $lightbox.find('img').css(css);
        });
        $lightbox.on('shown.bs.modal', function (e) {
          var $img = $lightbox.find('img');    
          $lightbox.find('.modal-dialog').css({'width': $img.width()});
          $lightbox.find('.close').removeClass('hidden');
        });
      });
    </script>
{% endmacro %}

{% macro lightbox_div(id='lightbox') %}
<div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">-</button>
    <div class="modal-content">
      <div class="modal-body">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro json_plot(plot) %}
<script type="text/javascript" class="init">
  $(document).ready(function() {
    plot_data = {{ plot.json }}

    function rescaleToInterval(data, tmin=1, tmax=20) {
      var dmin = Math.min.apply(null, data),
          dmax = Math.max.apply(null, data);
      var normed = data.map(function(x) { return ((x-dmin)*(tmax-tmin)/(dmax-dmin))+tmin; });
      return normed
    }

    function makeTrace(ix,iy) {
      return {
        x: plot_data['data'][ix],
        y: plot_data['data'][iy],
        mode: 'markers',
        type: 'scatter',
        line: {
          shape: 'marker' ,
          color: 'blue'
        },
        text: plot_data['columns'],
      };
    }
    
    function makeSelectAxisButtons(ax) {
      var buttons = [];
      buttons.push({
        method: '',
        args: [],
        label: 'Select '+ax.toUpperCase()+' Axis'
      });
      for (i=0; i < plot_data['index'].length; i++) {
        buttons.push({
          method: 'update',
          args: [{[ax]: [plot_data['data'][i]]},
                 {[ax+'axis']: {'title': plot_data['index'][i]}}],
          label: plot_data['index'][i]
        });
      }
      return buttons;
    }
    
    function makeSelectColourButtons() {
      var buttons = [];
      buttons.push({
        method: '',
        args: [],
        label: 'Select Marker Size'
      }); 
      buttons.push({
        method: 'restyle',
        args: ['marker.size', 5],
        label: 'Fixed (Default)'
      }); 
      for (i=0; i < plot_data['index'].length; i++) {
        buttons.push({
          method: 'restyle',
          args: ['marker.size', [rescaleToInterval(plot_data['data'][i])]],
          label: plot_data['index'][i]
        });
      }
      return buttons; 
    }
  
    function makeLayout(ix,iy) {
      return {
        xaxis: {title: plot_data['index'][ix]},
        yaxis: {title: plot_data['index'][iy]},
        autosize: false,
        width: 0.95*$('.container').innerWidth(),
        height: 500,
        automargin: true,
        hovermode: 'closest',
        annotations: [
          {text:'', x:1.0, y:-0.0, xanchor:'right', yanchor:'top', xref:'paper', yref:'paper', showarrow:false},
          {text:'', x:1.0, y:-0.2, xanchor:'right', yanchor:'top', xref:'paper', yref:'paper', showarrow:false},
          {text:'', x:1.0, y:-0.4, xanchor:'right', yanchor:'top', xref:'paper', yref:'paper', showarrow:false}
        ],
        updatemenus: [
          {x: 0.0, y: 1.1, xanchor: 'left', yanchor: 'bottom', buttons: makeSelectAxisButtons('x')}, 
          {x: 0.5, y: 1.1, xanchor: 'left', yanchor: 'bottom', buttons: makeSelectAxisButtons('y')}
        ]
      }
    } 

    function makePlot(ix, iy) {
        trace = makeTrace(ix=ix, iy=iy);
        layout = makeLayout(ix=ix, iy=iy);
        Plotly.plot('{{ plot.id }}', [trace], layout);
    }

    var default_ix = {% if plot.default_x is defined %} plot_data['index'].indexOf("{{ plot.default_x }}") {% else %} 0 {% endif %};
    var default_iy = {% if plot.default_y is defined %} plot_data['index'].indexOf("{{ plot.default_y }}") {% else %} 1 {% endif %};
    makePlot(ix=default_ix, iy=default_iy);

  });
</script> 
{%- endmacro %}
